/*----------mainhtml-----------------*/
.b_img{
    height: 95vh;
    opacity: 0.9;
    
}

.q{
    color: black ;
    font-size: 30px;
}

.navbar{
    background-color: lightcoral;  
    text-decoration-color:  rgb(240, 236, 236);
    height: 50px;
}
.btnp{
  border-color: darkred;
  border-width: medium;
  border-style: solid;
}

carousel slide{
}
.profile{
    height: 117px;
    width: 117px;
}
footer{
    margin-top: 8%;
    padding: 10%;
    overflow-x: hidden;
}

input{
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(175,175,175);
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*--------- contact---------------*/

input[type=submit]:hover {
  background-color: #45a049;
  
}

.container {
  text-align: left;
  border-radius: 5px;
  background-color: #e65f5f;
  padding: 20px;
  background-color:rgb(224, 228, 233);
width:500px;
height:900px
border:2px;
}
.main{
    background-image: url(images/bgcake.jpg);
}
a{
    text-decoration: none;
}

/*-------------registration---------------------*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .container2 {
    padding: 16px;
    width: 600px;
    
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
  body{
    background-image: url(images/logincake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    
    opacity: 0.9;
  }